In [1]:
!pip install geopy

Requirement already satisfied: geopy in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (2.1.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from geopy) (1.50)

In [2]:
'''To import the required packages.'''
import pandas as pd
import numpy as np
import networkx as nx
import collections
import matplotlib.pyplot as plt
import math
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

# Settings

In [3]:
'''To display all output results of a Jupyter cell.'''
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
'''To ensure that the output results of extensive output results are not truncated.'''
#pd.options.display.max_rows = 4000

'To ensure that the output results of extensive output results are not truncated.'

# **Belgian railway system**

# Import of the Belgian railway datasets

In [5]:
'''To register the GitHub link with the Belgian data as a variable.'''
datalink = "https://raw.githubusercontent.com/polkuleuven/Thesis_Train/main/gtfs_train_Belgium_1503/"

'To register the GitHub link with the Belgian data as a variable.'

In [6]:
'''Import all the GTFS data'''

#To import the agency dataset that contains limited information about Belgian NMBS/SNCB railway agency
agency = pd.read_csv(datalink + "agency.txt", sep=",")
#To import the stops dataset that contains information about the ids, the names and the geographical coordinates of the Belgian railway stations.
stops = pd.read_csv(datalink + "stops.txt", sep=",")
#To import the translations dataset that provides the French-, Dutch-, German- and English-language translations of the Belgian railway stations.
translations = pd.read_csv(datalink + "translations.txt", sep=",")
#To import the transfers dataset that gives the minimum transfer time to switch routes at each Belgian railway station.
transfers = pd.read_csv(datalink + "transfers.txt", sep=",")
#To import the routes dataset that provides the id, the name and the type of vehicle used for all Belgian railway routes.
routes = pd.read_csv(datalink + "routes.txt", sep=",")
#To import the trips dataset that gives for all routes an overview of the trips and the headsigns of these trips belonging to the Belgian railway route.
#The service_id is an indication of all the dates this trip is valid (consultable in the calendar_dates dataset).
trips = pd.read_csv(datalink + "trips.txt", sep=",")
#To import the stop_times dataset that gives for all trips an overview of the ids of the stations served and the sequence in which these stations are served. 
#In addition, for all the trips the arrival and departure times at the stations served are given.
stop_times = pd.read_csv(datalink + "stop_times.txt", sep=",")
#To import the calendar dataset that gives the first and last date of all data observations.
calendar = pd.read_csv(datalink + "calendar.txt", sep=",")
#To import the calendar_dates dataset that gives for each service_id all the exact dates when that service_id is valid.
calendar_dates = pd.read_csv(datalink + "calendar_dates.txt", sep=",")
#???
stop_time_overrides = pd.read_csv(datalink + "stop_time_overrides.txt", sep=",")

'Import all the GTFS data'

# Cleaning of the Belgian railway data

In [7]:
''' To clean the stops df.  (1) ''' 
#To eliminate the stop_ids in the stops dataset that contain an underscore or that start with a character 'S'. 
stops_cleaned = stops[(~stops['stop_id'].str.contains('_')) & (~stops['stop_id'].str.contains('S'))]

#To modify the object datatype of the stop_id column to the numpy int64 datatype
stops_cleaned.loc[:,'stop_id'] = stops_cleaned.loc[:,'stop_id'].astype(np.int64)

# To remove the accents from the stop_name and to change to uppercase
stops_cleaned.loc[:,'stop_name'] = stops_cleaned.loc[:,'stop_name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
stops_cleaned.loc[:,'stop_name'] = stops_cleaned.loc[:,'stop_name'].str.upper()

' To clean the stops df.  (1) '

/Users/pol/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [8]:
''' To clean the stops df.  (2) ''' 
# To initialize the Nominatim API to get the location from the input string 
geolocator = Nominatim(user_agent="application")
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=0.2)

# To get the location with the geolocator.reverse() function and to extract the country from the location instance
country_list = []
for index, row in stops_cleaned.iterrows():
    latitude = row['stop_lat']
    longitude = row['stop_lon']
    # To assign the latitude and longitude into a geolocator.reverse() method
    location = reverse((latitude, longitude), language='en', exactly_one=True)
    # To get the country from the given list and parsed into a dictionary with raw function()
    address = location.raw['address']
    country = address.get('country', '')
    country_list.append(country)

# To add the values of country_list as a new attribute country 
stops_cleaned.loc[:,'country'] = country_list
stops_cleaned

# To calculate the total number of Belgian stations in the stops_cleaned dataset
belgian_stops_Belgium = stops_cleaned[stops_cleaned['country'] == 'Belgium']
belgian_stops_Belgium_series = stops_cleaned.loc[stops_cleaned['country'] == 'Belgium', 'stop_name']

' To clean the stops df.  (2) '

/Users/pol/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,platform_code,country
0,8015345,NaN,AACHEN HBF (DE),NaN,50.77083,6.105277,NaN,NaN,0,NaN,NaN,Germany
1,8200100,NaN,LUXEMBOURG (LU),NaN,49.60000,6.133333,NaN,NaN,0,NaN,NaN,Luxembourg
2,8200101,NaN,DOMMELDANGE (LU),NaN,49.63390,6.136765,NaN,NaN,0,NaN,NaN,Luxembourg
3,8200102,NaN,PFAFFENTHAL-KIRCHBERG (LU),NaN,49.61913,6.132853,NaN,NaN,0,NaN,NaN,Luxembourg
4,8200110,NaN,MERSCH (LU),NaN,49.74889,6.106111,NaN,NaN,0,NaN,NaN,Luxembourg
...,...,...,...,...,...,...,...,...,...,...,...,...
2624,8896503,NaN,YPRES,NaN,50.84740,2.876590,NaN,NaN,0,S8896503,NaN,Belgium
2629,8896735,NaN,POPERINGE,NaN,50.85445,2.736345,NaN,NaN,0,S8896735,NaN,Belgium
2634,8896800,NaN,ROULERS,NaN,50.94903,3.130415,NaN,NaN,0,S8896800,NaN,Belgium
2638,8896909,NaN,IZEGEM,NaN,50.92115,3.212089,NaN,NaN,0,S8896909,NaN,Belgium
2642,8896925,NaN,INGELMUNSTER,NaN,50.91433,3.255416,NaN,NaN,0,S8896925,NaN,Belgium

In [46]:
belgian_stops_Belgium_series.to_csv(r'/Users/pol/Desktop/CSV_export/belgian_stops_Belgium_series.csv', index = False, header=True, encoding='utf-8-sig')

In [9]:
''' To clean the trips df'''
#To merge a selection of the trips dataset and a selection of the routes dataset on route_id
trip_route_short_name = pd.merge(trips[['route_id','service_id','trip_id', 'trip_headsign']], routes[['route_id', 'route_short_name', 'route_long_name']], on='route_id')

#To select the trips that belong to the routes that have a route_short_name that begins with an 'S' or is equal to 'IC', 'L' or 'P.'''
allowed_route_type = {'IC', 'L', 'P'}
filtered_trips = trip_route_short_name[(trip_route_short_name['route_short_name'].isin(allowed_route_type)) | (trip_route_short_name['route_short_name'].str.startswith('S'))]
filtered_trips = filtered_trips.drop(columns=['route_short_name'])

# To remove the accents from the route_long_name and to change to uppercase
filtered_trips['route_long_name'] = filtered_trips['route_long_name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
filtered_trips['route_long_name'] = filtered_trips['route_long_name'].str.upper()

# To remove the accents from the trip_headsign and to change to uppercase
filtered_trips['trip_headsign'] = filtered_trips['trip_headsign'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
filtered_trips['trip_headsign'] = filtered_trips['trip_headsign'].str.upper()
filtered_trips

' To clean the trips df'

,route_id,service_id,trip_id,trip_headsign,route_long_name
4845,115,14,88____:007::8885704:8885001:4:523:20210418,TOURNAI,TOURNAI -- MOUSCRON
4846,115,14,88____:007::8885704:8885001:4:623:20210418,TOURNAI,TOURNAI -- MOUSCRON
4847,115,14,88____:007::8885704:8885001:4:723:20210418,TOURNAI,TOURNAI -- MOUSCRON
4848,115,14,88____:007::8885704:8885001:4:823:20210418,TOURNAI,TOURNAI -- MOUSCRON
4849,115,14,88____:007::8885704:8885001:4:923:20210418,TOURNAI,TOURNAI -- MOUSCRON
...,...,...,...,...,...
30831,734,25,88____:007::8821105:8812005:22:1323:20210418,BRUXELLES-NORD,DEN HAAG HS (NL) -- BRUXELLES-NORD
30832,734,25,88____:007::8812005:8400131:23:1618:20210418,DEN HAAG HS (NL),DEN HAAG HS (NL) -- BRUXELLES-NORD
30833,734,25,84____:007::8400131:8400280:3:1720:20210418,DEN HAAG HS (NL),DEN HAAG HS (NL) -- BRUXELLES-NORD
30834,734,25,84____:007::8400280:8821105:4:1600:20210418,BRUXELLES-NORD,DEN HAAG HS (NL) -- BRUXELLES-NORD
30835,734,25,88____:007::8821105:8812005:22:1723:20210418,BRUXELLES-NORD,DEN HAAG HS (NL) -- BRUXELLES-NORD

# Exploratory data analysis with the Belgian railway data

In [10]:
'''To calculate the number of unique route_ids before removing the routes with a route_short_name that does not begin with an S and is not 'IC', 'L', or 'P'.'''
initial_set_routes = {r for r in routes['route_id']}
len(initial_set_routes)

"To calculate the number of unique route_ids before removing the routes with a route_short_name that does not begin with an S and is not 'IC', 'L', or 'P'."

734

In [11]:
'''To calculate the number of unique route_ids after removing the routes with a route_short_name that does not begin with an S and is not 'IC', 'L', or 'P'.'''
set_routes = {r for r in filtered_trips['route_id']}
len(set_routes)

"To calculate the number of unique route_ids after removing the routes with a route_short_name that does not begin with an S and is not 'IC', 'L', or 'P'."

589

In [12]:
'''To calculate the total number of stations in the stops_cleaned dataset'''
set_stations = {s for s in stops_cleaned['stop_id']}
len(set_stations)

'To calculate the total number of stations in the stops_cleaned dataset'

608

In [13]:
'''To calculate the total number of Belgian stations in the stops_cleaned dataset'''
set_belgian_stations = {s for s in belgian_stops_Belgium['stop_id']}
len(set_belgian_stations)

'To calculate the total number of Belgian stations in the stops_cleaned dataset'

563

# **Preparation for the L-space representation of the Belgian railway system**

In [14]:
'''To merge a selection of the stops_cleaned dataset with a selection of the stop_times dataset'''
stops_cleaned_stop_times_merge = pd.merge(stop_times[['trip_id','arrival_time', 'departure_time','stop_id','stop_sequence']], stops_cleaned[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']], on='stop_id')
stops_cleaned_stop_times_merge

'To merge a selection of the stops_cleaned dataset with a selection of the stop_times dataset'

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_name,stop_lat,stop_lon
0,88____:049::8892338:8892205:6:1925:20210314,17:35:00,17:35:00,8892338,1,LA PANNE,51.07740,2.601966
1,88____:049::8892338:8892205:6:720:20210314,05:30:00,05:30:00,8892338,1,LA PANNE,51.07740,2.601966
2,88____:049::8892338:8892205:6:820:20210314,06:30:00,06:30:00,8892338,1,LA PANNE,51.07740,2.601966
3,88____:049::8892338:8892205:6:920:20210314,07:30:00,07:30:00,8892338,1,LA PANNE,51.07740,2.601966
4,88____:049::8892338:8892205:6:1020:20210314,08:30:00,08:30:00,8892338,1,LA PANNE,51.07740,2.601966
...,...,...,...,...,...,...,...,...
460669,87____:005::8727100:8814308:2:1434:20210424,12:31:00,12:31:00,8727100,1,PARIS NORD (FR),48.86667,2.333333
460670,87____:005::8727100:8814308:2:1432:20211211,12:31:00,12:31:00,8727100,1,PARIS NORD (FR),48.86667,2.333333
460671,88____:005::8814001:8727100:3:1756:20211210,17:56:00,17:56:00,8727100,3,PARIS NORD (FR),48.86667,2.333333
460672,87____:005::8727100:8814308:2:2111:20210430,18:49:00,18:49:00,8727100,1,PARIS NORD (FR),48.86667,2.333333
460673,87____:005::8727100:8814308:2:2110:20211210,18:49:00,18:49:00,8727100,1,PARIS NORD (FR),48.86667,2.333333

In [15]:
'''To merge a selection of the stops_cleaned_stop_times_merge dataset with the filtered_trips dataset.'''
stops_cleaned_stop_times_trips_merge = pd.merge(filtered_trips, stops_cleaned_stop_times_merge, on='trip_id')
stops_cleaned_stop_times_trips_merge

'To merge a selection of the stops_cleaned_stop_times_merge dataset with the filtered_trips dataset.'

,route_id,service_id,trip_id,trip_headsign,route_long_name,arrival_time,departure_time,stop_id,stop_sequence,stop_name,stop_lat,stop_lon
0,115,14,88____:007::8885704:8885001:4:523:20210418,TOURNAI,TOURNAI -- MOUSCRON,05:23:00,05:23:00,8885001,4,TOURNAI,50.61313,3.396940
1,115,14,88____:007::8885704:8885001:4:523:20210418,TOURNAI,TOURNAI -- MOUSCRON,05:19:00,05:19:00,8885068,3,FROYENNES,50.62989,3.354835
2,115,14,88____:007::8885704:8885001:4:523:20210418,TOURNAI,TOURNAI -- MOUSCRON,05:12:00,05:12:00,8885753,2,HERSEAUX,50.71390,3.245961
3,115,14,88____:007::8885704:8885001:4:523:20210418,TOURNAI,TOURNAI -- MOUSCRON,05:07:00,05:07:00,8885704,1,MOUSCRON,50.74100,3.228449
4,115,14,88____:007::8885704:8885001:4:623:20210418,TOURNAI,TOURNAI -- MOUSCRON,06:23:00,06:23:00,8885001,4,TOURNAI,50.61313,3.396940
...,...,...,...,...,...,...,...,...,...,...,...,...
429816,734,25,88____:007::8821105:8812005:22:1723:20210418,BRUXELLES-NORD,DEN HAAG HS (NL) -- BRUXELLES-NORD,17:01:00,17:01:00,8811270,19,VELTEM,50.90052,4.633520
429817,734,25,88____:007::8821105:8812005:22:1723:20210418,BRUXELLES-NORD,DEN HAAG HS (NL) -- BRUXELLES-NORD,16:59:00,16:59:00,8811288,18,HERENT,50.90353,4.672190
429818,734,25,88____:007::8821105:8812005:22:1723:20210418,BRUXELLES-NORD,DEN HAAG HS (NL) -- BRUXELLES-NORD,17:10:00,17:12:00,8819406,23,BRUSSELS AIRPORT-ZAVENTEM,50.89646,4.482072
429819,734,25,88____:007::8821105:8812005:22:1723:20210418,BRUXELLES-NORD,DEN HAAG HS (NL) -- BRUXELLES-NORD,16:11:00,16:11:00,8821063,5,ANVERS-LUCHTBAL,51.24413,4.425033
429820,734,25,88____:007::8821105:8812005:22:1723:20210418,BRUXELLES-NORD,DEN HAAG HS (NL) -- BRUXELLES-NORD,16:00:00,16:01:00,8821105,4,NOORDERKEMPEN (BRECHT),51.35683,4.632200

In [16]:
'''To create a route_sequence dataset that gives for each trip_id that belongs to a route the sequence of stations served'''
route_sequence = stops_cleaned_stop_times_trips_merge.groupby(['route_id','route_long_name','trip_headsign','trip_id','stop_sequence'], as_index=False)[['stop_name', 'stop_lat', 'stop_lon']].last()
route_sequence

'To create a route_sequence dataset that gives for each trip_id that belongs to a route the sequence of stations served'

,route_id,route_long_name,trip_headsign,trip_id,stop_sequence,stop_name,stop_lat,stop_lon
0,115,TOURNAI -- MOUSCRON,MOUSCRON,88____:007::8885001:8885704:4:1052:20210418,1,TOURNAI,50.61313,3.396940
1,115,TOURNAI -- MOUSCRON,MOUSCRON,88____:007::8885001:8885704:4:1052:20210418,2,FROYENNES,50.62989,3.354835
2,115,TOURNAI -- MOUSCRON,MOUSCRON,88____:007::8885001:8885704:4:1052:20210418,3,HERSEAUX,50.71390,3.245961
3,115,TOURNAI -- MOUSCRON,MOUSCRON,88____:007::8885001:8885704:4:1052:20210418,4,MOUSCRON,50.74100,3.228449
4,115,TOURNAI -- MOUSCRON,MOUSCRON,88____:007::8885001:8885704:4:1052:20210530,1,TOURNAI,50.61313,3.396940
...,...,...,...,...,...,...,...,...
429816,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,DEN HAAG HS (NL),88____:007::8812005:8400131:23:1618:20210418,19,ANVERS-BERCHEM,51.19923,4.432219
429817,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,DEN HAAG HS (NL),88____:007::8812005:8400131:23:1618:20210418,20,ANVERS-CENTRAL,51.21720,4.421098
429818,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,DEN HAAG HS (NL),88____:007::8812005:8400131:23:1618:20210418,21,ANVERS-LUCHTBAL,51.24413,4.425033
429819,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,DEN HAAG HS (NL),88____:007::8812005:8400131:23:1618:20210418,22,NOORDERKEMPEN (BRECHT),51.35683,4.632200
429820,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,DEN HAAG HS (NL),88____:007::8812005:8400131:23:1618:20210418,23,BREDA (NL),51.59568,4.780017

'''To calculate the hash value for the stop sequence of each trip_id'''

#To copy the filtered_trips dataset
trips_hash = filtered_trips.copy()

#To create a column called hash that contains NaN values
trips_hash['hash'] = np.nan

#For each trip_id in filtered_trips, the stop_sequence that gets calculated is the subset of the stop_time dataset for that trip_id. 
#The tuple that results from the stop_id column of this subset dataset contains all the stop_ids that get served by this trip_id. 
#The hash value of the tuple of the stop_id column is calculated and is placed in the hash column of the trip_id in the filtered_trips dataset

trips_hash['hash_inverse'] = np.nan
for trip in filtered_trips['trip_id'].unique():
    stop_sequence = stop_times[stop_times['trip_id'] == trip].sort_values(by = 'stop_sequence')
    trips_hash.loc[trips_hash['trip_id'] == trip, 'hash'] = hash(tuple(stop_sequence['stop_id']))
    trips_hash.loc[trips_hash['trip_id'] == trip, 'hash_inverse'] = hash(tuple(list(stop_sequence['stop_id'])[::-1]))

In [17]:
#trips_hash.to_csv(r'/Users/pol/Desktop/CSV_export/trips_hash_Belgium.csv', index = False, header=True, encoding='utf-8-sig')

In [18]:
datalink = "https://raw.githubusercontent.com/polkuleuven/Thesis_Train/main"
trips_hash = pd.read_csv(datalink + "/hash_cleaning/trips_hash_Belgium.csv", sep=",")
trips_hash

,route_id,service_id,trip_id,trip_headsign,route_long_name,hash,hash_inverse
0,115,14,88____:007::8885704:8885001:4:523:20210418,TOURNAI,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18
1,115,14,88____:007::8885704:8885001:4:623:20210418,TOURNAI,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18
2,115,14,88____:007::8885704:8885001:4:723:20210418,TOURNAI,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18
3,115,14,88____:007::8885704:8885001:4:823:20210418,TOURNAI,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18
4,115,14,88____:007::8885704:8885001:4:923:20210418,TOURNAI,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18
...,...,...,...,...,...,...,...
25720,734,25,88____:007::8821105:8812005:22:1323:20210418,BRUXELLES-NORD,DEN HAAG HS (NL) -- BRUXELLES-NORD,8.867455e+18,-2.368845e+18
25721,734,25,88____:007::8812005:8400131:23:1618:20210418,DEN HAAG HS (NL),DEN HAAG HS (NL) -- BRUXELLES-NORD,2.556917e+18,4.170221e+18
25722,734,25,84____:007::8400131:8400280:3:1720:20210418,DEN HAAG HS (NL),DEN HAAG HS (NL) -- BRUXELLES-NORD,-4.809365e+18,5.255191e+18
25723,734,25,84____:007::8400280:8821105:4:1600:20210418,BRUXELLES-NORD,DEN HAAG HS (NL) -- BRUXELLES-NORD,-3.326243e+18,8.239505e+18
25724,734,25,88____:007::8821105:8812005:22:1723:20210418,BRUXELLES-NORD,DEN HAAG HS (NL) -- BRUXELLES-NORD,8.867455e+18,-2.368845e+18

In [19]:
# To groupby the trip_id and to order the stop_sequence in an ascending order
# Otherwise, different hash values could correspond to a same stop_sequence (since the stop_sequences of some
# routes are initially in descending order while other stop_sequences are in ascending order)

trip_stop_sequence_sorted = stops_cleaned_stop_times_merge.groupby(['trip_id'], as_index=False).apply(lambda x: x.sort_values('stop_sequence'))
trip_stop_sequence_sorted

                                                  trip_id arrival_time  \
0     83181   80____:046::8015345:8849023:2:1011:20210328     10:04:00
      82814   80____:046::8015345:8849023:2:1011:20210328     10:11:00
1     83179   80____:046::8015345:8849023:2:1011:20210402     10:04:00
      82810   80____:046::8015345:8849023:2:1011:20210402     10:11:00
2     83186   80____:046::8015345:8849023:2:1011:20210405     10:04:00
...                                                   ...          ...
30835 212160  88____:L73::8843208:8841400:13:909:20210402     08:54:00
      211763  88____:L73::8843208:8841400:13:909:20210402     08:57:00
      211366  88____:L73::8843208:8841400:13:909:20210402     09:01:00
      210969  88____:L73::8843208:8841400:13:909:20210402     09:05:00
      210572  88____:L73::8843208:8841400:13:909:20210402     09:09:00

             departure_time  stop_id  stop_sequence              stop_name  \
0     83181        10:04:00  8015345              1        AACHEN HBF (DE)
      82814        10:11:00  8849023              2   HERGENRATH-FRONTIERE
1     83179        10:04:00  8015345              1        AACHEN HBF (DE)
      82810        10:11:00  8849023              2   HERGENRATH-FRONTIERE
2     83186        10:04:00  8015345              1        AACHEN HBF (DE)
...                     ...      ...            ...                    ...
30835 212160       08:54:00  8841467              9  FEXHE-LE-HAUT-CLOCHER
      211763       08:57:00  8841459             10                MOMALLE
      211366       09:01:00  8841442             11              REMICOURT
      210969       09:05:00  8841434             12                 BLERET
      210572       09:09:00  8841400             13                WAREMME

              stop_lat  stop_lon
0     83181   50.77083  6.105277
      82814   50.71896  6.041269
1     83179   50.77083  6.105277
      82810   50.71896  6.041269
2     83186   50.77083  6.105277
...                ...       ...
30835 212160  50.66405  5.398450
      211763  50.66991  5.367600
      211366  50.67861  5.321410
      210969  50.68507  5.286398
      210572  50.69455  5.249480

[460674 rows x 8 columns]

In [20]:
# To put the stop_names per trip_id in a list
trip_stop_sequence = trip_stop_sequence_sorted.groupby('trip_id')['stop_name'].apply(lambda group_series: group_series.tolist()).reset_index()
trip_stop_sequence.rename(columns={'stop_name':'stop_sequence'}, inplace=True)
trip_stop_sequence

,trip_id,stop_sequence
0,80____:046::8015345:8849023:2:1011:20210328,"[AACHEN HBF (DE), HERGENRATH-FRONTIERE]"
1,80____:046::8015345:8849023:2:1011:20210402,"[AACHEN HBF (DE), HERGENRATH-FRONTIERE]"
2,80____:046::8015345:8849023:2:1011:20210405,"[AACHEN HBF (DE), HERGENRATH-FRONTIERE]"
3,80____:046::8015345:8849023:2:1011:20210411,"[AACHEN HBF (DE), HERGENRATH-FRONTIERE]"
4,80____:046::8015345:8849023:2:1011:20210416,"[AACHEN HBF (DE), HERGENRATH-FRONTIERE]"
...,...,...
30831,88____:L73::8843208:8841004:5:834:20211210,"[FLEMALLE-HAUTE, SERAING, OUGREE, Y.RENORY, LI..."
30832,88____:L73::8843208:8841400:13:1709:20210402,"[FLEMALLE-HAUTE, SERAING, OUGREE, Y.RENORY, LI..."
30833,88____:L73::8843208:8841400:13:1809:20210402,"[FLEMALLE-HAUTE, SERAING, OUGREE, Y.RENORY, LI..."
30834,88____:L73::8843208:8841400:13:809:20210402,"[FLEMALLE-HAUTE, SERAING, OUGREE, Y.RENORY, LI..."
30835,88____:L73::8843208:8841400:13:909:20210402,"[FLEMALLE-HAUTE, SERAING, OUGREE, Y.RENORY, LI..."

In [21]:
# To add the stop_sequence of stations to the trips_hash dataset in the trips_hash_stop_sequence dataset by joining on trip_id
trips_hash_stop_sequence = pd.merge(trips_hash, trip_stop_sequence, on='trip_id', how='left')

# To put the columns in a more logical order
trips_hash_stop_sequence = trips_hash_stop_sequence[['route_id', 'route_long_name','service_id','trip_headsign','trip_id','hash', 'hash_inverse','stop_sequence']]
trips_hash_stop_sequence

,route_id,route_long_name,service_id,trip_headsign,trip_id,hash,hash_inverse,stop_sequence
0,115,TOURNAI -- MOUSCRON,14,TOURNAI,88____:007::8885704:8885001:4:523:20210418,3.271446e+18,6.413351e+18,"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]"
1,115,TOURNAI -- MOUSCRON,14,TOURNAI,88____:007::8885704:8885001:4:623:20210418,3.271446e+18,6.413351e+18,"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]"
2,115,TOURNAI -- MOUSCRON,14,TOURNAI,88____:007::8885704:8885001:4:723:20210418,3.271446e+18,6.413351e+18,"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]"
3,115,TOURNAI -- MOUSCRON,14,TOURNAI,88____:007::8885704:8885001:4:823:20210418,3.271446e+18,6.413351e+18,"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]"
4,115,TOURNAI -- MOUSCRON,14,TOURNAI,88____:007::8885704:8885001:4:923:20210418,3.271446e+18,6.413351e+18,"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]"
...,...,...,...,...,...,...,...,...
25720,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,25,BRUXELLES-NORD,88____:007::8821105:8812005:22:1323:20210418,8.867455e+18,-2.368845e+18,"[NOORDERKEMPEN (BRECHT), ANVERS-LUCHTBAL, ANVE..."
25721,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,25,DEN HAAG HS (NL),88____:007::8812005:8400131:23:1618:20210418,2.556917e+18,4.170221e+18,"[BRUXELLES-NORD, SCHAERBEEK, BRUSSELS AIRPORT-..."
25722,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,25,DEN HAAG HS (NL),84____:007::8400131:8400280:3:1720:20210418,-4.809365e+18,5.255191e+18,"[BREDA (NL), ROTTERDAM CS (NL), DEN HAAG HS (NL)]"
25723,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,25,BRUXELLES-NORD,84____:007::8400280:8821105:4:1600:20210418,-3.326243e+18,8.239505e+18,"[DEN HAAG HS (NL), ROTTERDAM CS (NL), BREDA (N..."
25724,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,25,BRUXELLES-NORD,88____:007::8821105:8812005:22:1723:20210418,8.867455e+18,-2.368845e+18,"[NOORDERKEMPEN (BRECHT), ANVERS-LUCHTBAL, ANVE..."

In [22]:
# To count the number of dates for each service_id
service_id_df = calendar_dates.groupby(['service_id'])[['service_id']].count().rename(columns={'service_id':'count_service_id'}).reset_index()
service_id_df

      service_id  count_service_id
0              0               277
1              1                 1
2              2                 5
3              3                 4
4              4                39
...          ...               ...
4311        6231               175
4312        6232               241
4313        6233               202
4314        6234               215
4315        6235                21

[4316 rows x 2 columns]

In [23]:
#regroup the days per service id in a set
service_id_dates = calendar_dates.groupby('service_id')['date'].apply(lambda group_series: set(group_series.tolist())).reset_index()
service_id_dates.rename(columns={'date':'dates'}, inplace=True)
service_id_dates = service_id_dates.merge(service_id_df, on='service_id', how='left')
service_id_dates

,service_id,dates,count_service_id
0,0,"{20211201, 20211202, 20211203, 20211204, 20211...",277
1,1,{20210314},1
2,2,"{20210315, 20210316, 20210317, 20210318, 20210...",5
3,3,"{20210320, 20210313, 20210314, 20210321}",4
4,4,"{20210310, 20210311, 20210312, 20210313, 20210...",39
...,...,...,...
4311,6231,"{20211201, 20211202, 20211203, 20211206, 20211...",175
4312,6232,"{20211201, 20211202, 20211203, 20211204, 20211...",241
4313,6233,"{20211201, 20211202, 20211203, 20211204, 20211...",202
4314,6234,"{20211201, 20211202, 20211203, 20211205, 20211...",215
4315,6235,"{20210310, 20210311, 20210312, 20210315, 20210...",21

In [24]:
# To put the different trip_ids in a list after joining on (route_id, route_long_name, hash and service_id)
route_hash_freq = trips_hash_stop_sequence.groupby(['route_id','route_long_name','hash', 'hash_inverse', 'service_id'])['trip_id'].apply(lambda group_series: group_series.tolist()).reset_index()
route_hash_freq

,route_id,route_long_name,hash,hash_inverse,service_id,trip_id
0,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,14,"[88____:007::8885704:8885001:4:523:20210418, 8..."
1,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,25,[88____:007::8885704:8885001:4:23:20210418]
2,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,31,"[88____:007::8885704:8885001:4:1723:20210417, ..."
3,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,42,"[88____:007::8885704:8885001:4:523:20210530, 8..."
4,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,93,[88____:007::8885704:8885001:4:23:20210530]
...,...,...,...,...,...,...
5994,733,DEN HAAG HS (NL) -- BRUXELLES-MIDI,8.032946e+18,5.656301e+18,1565,[84____:007::8400530:8400280:2:1720:20210425]
5995,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,-4.809365e+18,5.255191e+18,25,"[84____:007::8400131:8400280:3:1320:20210418, ..."
5996,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,-3.326243e+18,8.239505e+18,25,"[84____:007::8400280:8821105:4:1200:20210418, ..."
5997,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,2.556917e+18,4.170221e+18,25,"[88____:007::8812005:8400131:23:1218:20210418,..."
5998,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,8.867455e+18,-2.368845e+18,25,"[88____:007::8821105:8812005:22:1323:20210418,..."

In [25]:
# To add the sequence of stops to the route_hash_freq dataset
route_hash_freq = pd.merge(route_hash_freq, trips_hash_stop_sequence[['route_id','hash', 'hash_inverse', 'service_id','stop_sequence']], on=['route_id', 'hash', 'hash_inverse', 'service_id'], how='left')
route_hash_freq = route_hash_freq.drop_duplicates( subset = ['route_id', 'hash', 'service_id'], keep = 'first')

route_hash_freq

,route_id,route_long_name,hash,hash_inverse,service_id,trip_id,stop_sequence
0,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,14,"[88____:007::8885704:8885001:4:523:20210418, 8...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]"
12,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,25,[88____:007::8885704:8885001:4:23:20210418],"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]"
13,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,31,"[88____:007::8885704:8885001:4:1723:20210417, ...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]"
20,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,42,"[88____:007::8885704:8885001:4:523:20210530, 8...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]"
32,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,93,[88____:007::8885704:8885001:4:23:20210530],"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]"
...,...,...,...,...,...,...,...
25716,733,DEN HAAG HS (NL) -- BRUXELLES-MIDI,8.032946e+18,5.656301e+18,1565,[84____:007::8400530:8400280:2:1720:20210425],"[ROTTERDAM CS (NL), DEN HAAG HS (NL)]"
25717,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,-4.809365e+18,5.255191e+18,25,"[84____:007::8400131:8400280:3:1320:20210418, ...","[BREDA (NL), ROTTERDAM CS (NL), DEN HAAG HS (NL)]"
25719,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,-3.326243e+18,8.239505e+18,25,"[84____:007::8400280:8821105:4:1200:20210418, ...","[DEN HAAG HS (NL), ROTTERDAM CS (NL), BREDA (N..."
25721,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,2.556917e+18,4.170221e+18,25,"[88____:007::8812005:8400131:23:1218:20210418,...","[BRUXELLES-NORD, SCHAERBEEK, BRUSSELS AIRPORT-..."
25723,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,8.867455e+18,-2.368845e+18,25,"[88____:007::8821105:8812005:22:1323:20210418,...","[NOORDERKEMPEN (BRECHT), ANVERS-LUCHTBAL, ANVE..."

In [26]:
# To calculate the number of trip ids in the list of trip_ids and to add it as a new column
number_trip_ids = []
for list_trip_ids in route_hash_freq['trip_id']:
    count = len(list_trip_ids)
    number_trip_ids.append(count)
route_hash_freq['number_trip_ids'] = number_trip_ids

route_hash_freq

,route_id,route_long_name,hash,hash_inverse,service_id,trip_id,stop_sequence,number_trip_ids
0,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,14,"[88____:007::8885704:8885001:4:523:20210418, 8...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",12
12,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,25,[88____:007::8885704:8885001:4:23:20210418],"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",1
13,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,31,"[88____:007::8885704:8885001:4:1723:20210417, ...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",7
20,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,42,"[88____:007::8885704:8885001:4:523:20210530, 8...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",12
32,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,93,[88____:007::8885704:8885001:4:23:20210530],"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",1
...,...,...,...,...,...,...,...,...
25716,733,DEN HAAG HS (NL) -- BRUXELLES-MIDI,8.032946e+18,5.656301e+18,1565,[84____:007::8400530:8400280:2:1720:20210425],"[ROTTERDAM CS (NL), DEN HAAG HS (NL)]",1
25717,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,-4.809365e+18,5.255191e+18,25,"[84____:007::8400131:8400280:3:1320:20210418, ...","[BREDA (NL), ROTTERDAM CS (NL), DEN HAAG HS (NL)]",2
25719,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,-3.326243e+18,8.239505e+18,25,"[84____:007::8400280:8821105:4:1200:20210418, ...","[DEN HAAG HS (NL), ROTTERDAM CS (NL), BREDA (N...",2
25721,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,2.556917e+18,4.170221e+18,25,"[88____:007::8812005:8400131:23:1218:20210418,...","[BRUXELLES-NORD, SCHAERBEEK, BRUSSELS AIRPORT-...",2
25723,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,8.867455e+18,-2.368845e+18,25,"[88____:007::8821105:8812005:22:1323:20210418,...","[NOORDERKEMPEN (BRECHT), ANVERS-LUCHTBAL, ANVE...",2

In [27]:
# To merge the route_hash_freq df with the service_id_dates to get the sets of corresponding dates
route_hash_service_freq = pd.merge(route_hash_freq, service_id_dates, on='service_id', how='left')
route_hash_service_freq_copy = route_hash_service_freq.copy()
route_hash_service_freq

,route_id,route_long_name,hash,hash_inverse,service_id,trip_id,stop_sequence,number_trip_ids,dates,count_service_id
0,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,14,"[88____:007::8885704:8885001:4:523:20210418, 8...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",12,"{20210417, 20210418}",2
1,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,25,[88____:007::8885704:8885001:4:23:20210418],"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",1,{20210418},1
2,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,31,"[88____:007::8885704:8885001:4:1723:20210417, ...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",7,{20210417},1
3,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,42,"[88____:007::8885704:8885001:4:523:20210530, 8...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",12,"{20210529, 20210530}",2
4,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,93,[88____:007::8885704:8885001:4:23:20210530],"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",1,{20210530},1
...,...,...,...,...,...,...,...,...,...,...
5994,733,DEN HAAG HS (NL) -- BRUXELLES-MIDI,8.032946e+18,5.656301e+18,1565,[84____:007::8400530:8400280:2:1720:20210425],"[ROTTERDAM CS (NL), DEN HAAG HS (NL)]",1,"{20210320, 20210321, 20210327, 20210328, 20210...",5
5995,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,-4.809365e+18,5.255191e+18,25,"[84____:007::8400131:8400280:3:1320:20210418, ...","[BREDA (NL), ROTTERDAM CS (NL), DEN HAAG HS (NL)]",2,{20210418},1
5996,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,-3.326243e+18,8.239505e+18,25,"[84____:007::8400280:8821105:4:1200:20210418, ...","[DEN HAAG HS (NL), ROTTERDAM CS (NL), BREDA (N...",2,{20210418},1
5997,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,2.556917e+18,4.170221e+18,25,"[88____:007::8812005:8400131:23:1218:20210418,...","[BRUXELLES-NORD, SCHAERBEEK, BRUSSELS AIRPORT-...",2,{20210418},1
5998,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,8.867455e+18,-2.368845e+18,25,"[88____:007::8821105:8812005:22:1323:20210418,...","[NOORDERKEMPEN (BRECHT), ANVERS-LUCHTBAL, ANVE...",2,{20210418},1

In [28]:
'''Groups the service_id together for each route_id and hash combination'''
for index, combi_route_id_hash in route_hash_service_freq_copy.groupby(['route_id','hash'], as_index = False)['service_id'].last().iterrows():
    set_service_id = set(route_hash_service_freq.loc[(route_hash_service_freq_copy['route_id'] == combi_route_id_hash['route_id']) & (route_hash_service_freq_copy['hash'] == combi_route_id_hash['hash'])]['service_id'])
    route_hash_service_freq_copy.loc[(route_hash_service_freq_copy['route_id'] == combi_route_id_hash['route_id']) & (route_hash_service_freq_copy['hash'] == combi_route_id_hash['hash']),['service_id']] = set_service_id
route_hash_service_freq_copy

'Groups the service_id together for each route_id and hash combination'

,route_id,route_long_name,hash,hash_inverse,service_id,trip_id,stop_sequence,number_trip_ids,dates,count_service_id
0,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,"{42, 14, 25, 122, 93, 31}","[88____:007::8885704:8885001:4:523:20210418, 8...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",12,"{20210417, 20210418}",2
1,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,"{42, 14, 25, 122, 93, 31}",[88____:007::8885704:8885001:4:23:20210418],"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",1,{20210418},1
2,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,"{42, 14, 25, 122, 93, 31}","[88____:007::8885704:8885001:4:1723:20210417, ...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",7,{20210417},1
3,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,"{42, 14, 25, 122, 93, 31}","[88____:007::8885704:8885001:4:523:20210530, 8...","[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",12,"{20210529, 20210530}",2
4,115,TOURNAI -- MOUSCRON,3.271446e+18,6.413351e+18,"{42, 14, 25, 122, 93, 31}",[88____:007::8885704:8885001:4:23:20210530],"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]",1,{20210530},1
...,...,...,...,...,...,...,...,...,...,...
5994,733,DEN HAAG HS (NL) -- BRUXELLES-MIDI,8.032946e+18,5.656301e+18,"{1553, 1563, 1565}",[84____:007::8400530:8400280:2:1720:20210425],"[ROTTERDAM CS (NL), DEN HAAG HS (NL)]",1,"{20210320, 20210321, 20210327, 20210328, 20210...",5
5995,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,-4.809365e+18,5.255191e+18,{25},"[84____:007::8400131:8400280:3:1320:20210418, ...","[BREDA (NL), ROTTERDAM CS (NL), DEN HAAG HS (NL)]",2,{20210418},1
5996,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,-3.326243e+18,8.239505e+18,{25},"[84____:007::8400280:8821105:4:1200:20210418, ...","[DEN HAAG HS (NL), ROTTERDAM CS (NL), BREDA (N...",2,{20210418},1
5997,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,2.556917e+18,4.170221e+18,{25},"[88____:007::8812005:8400131:23:1218:20210418,...","[BRUXELLES-NORD, SCHAERBEEK, BRUSSELS AIRPORT-...",2,{20210418},1
5998,734,DEN HAAG HS (NL) -- BRUXELLES-NORD,8.867455e+18,-2.368845e+18,{25},"[88____:007::8821105:8812005:22:1323:20210418,...","[NOORDERKEMPEN (BRECHT), ANVERS-LUCHTBAL, ANVE...",2,{20210418},1

In [29]:
'''Get the distinct stop sequences for creating the possible roads combinations later on'''
distinct_stop_sequences = route_hash_service_freq_copy.drop_duplicates(subset = ["route_id", 'hash'])[['route_id','hash','stop_sequence', 'service_id']]
distinct_stop_sequences

'Get the distinct stop sequences for creating the possible roads combinations later on'

,route_id,hash,stop_sequence,service_id
0,115,3.271446e+18,"[MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]","{42, 14, 25, 122, 93, 31}"
6,115,6.413351e+18,"[TOURNAI, FROYENNES, HERSEAUX, MOUSCRON]","{42, 14, 25, 122, 93, 31}"
12,116,7.238152e+18,"[KNOKKE, DUINBERGEN, HEIST, BRUGES-SAINT-PIERR...","{33, 5, 172, 269, 15, 16, 733}"
19,116,8.997294e+18,"[BRUGES, BRUGES-SAINT-PIERRE, HEIST, DUINBERGE...","{33, 5, 15, 16, 212, 733}"
25,117,4.978540e+18,"[SPA-GERONSTERE, SPA, FRANCHIMONT, THEUX, JUSL...","{26, 43, 28}"
...,...,...,...,...
5992,733,8.032946e+18,"[ROTTERDAM CS (NL), DEN HAAG HS (NL)]","{1553, 1563, 1565}"
5995,734,-4.809365e+18,"[BREDA (NL), ROTTERDAM CS (NL), DEN HAAG HS (NL)]",{25}
5996,734,-3.326243e+18,"[DEN HAAG HS (NL), ROTTERDAM CS (NL), BREDA (N...",{25}
5997,734,2.556917e+18,"[BRUXELLES-NORD, SCHAERBEEK, BRUSSELS AIRPORT-...",{25}
5998,734,8.867455e+18,"[NOORDERKEMPEN (BRECHT), ANVERS-LUCHTBAL, ANVE...",{25}

##Functions for the route creation

In [30]:
'''Some functions to better factorise the functions in the coming cells'''

def select_stop_sequences(stop_sequences_df, route_id):
    '''retruns the stop sequences with the selected route_id'''
    return stop_sequences_df[stop_sequences_df['route_id'] == route_id].copy()

'Some functions to better factorise the functions in the coming cells'

In [31]:
'''Finds the routes that can be either extended from behind or from after and those which are complete sequences'''

def get_extention_indexes(stop_sequences_df):
    '''returns the tree indexes: index_of_extendable, index_of_begin_sequences, index_of_complete_sequences'''
    #intiate the dictionnaries, that will be used to retrieve different rows later on
    index_of_extendable = {}
    index_of_begin_sequences = {}
    index_of_complete_sequences = {}
    for route_id in stop_sequences_df['route_id'].unique():
        #select the route with the route_id selected by the loop iteration
        route_sequences_route_id = select_stop_sequences(stop_sequences_df, route_id)
        for index_trip, trip in route_sequences_route_id.iterrows():
            #checks the extentions possible for the trip that can follow after its last stop
            possible_extentions_after = route_sequences_route_id[route_sequences_route_id['stop_sequence'].apply(lambda x: any(item for item in [trip['stop_sequence'][-1]] if (item == x[0]) and not(set(x[1:]) & set(trip['stop_sequence']))))].copy()
            #checks that those extentions have a common service_id as the trip
            possible_extentions_after = possible_extentions_after[possible_extentions_after['service_id'].apply(lambda x: any(item for item in trip['service_id'] if item in x))].copy()
            #checks the extentions possible for the trip that can follow before its first stop
            possible_extentions_behind = route_sequences_route_id[route_sequences_route_id['stop_sequence'].apply(lambda x: any(item for item in [trip['stop_sequence'][0]] if (item == x[-1]) and not(set(x[:-1]) & set(trip['stop_sequence']))))].copy()        
            #checks that those extentions have a common service_id as the trip
            possible_extentions_behind = possible_extentions_behind[possible_extentions_behind['service_id'].apply(lambda x: any(item for item in trip['service_id'] if item in x))].copy()
            #put all the sequences that can be extended either from the beginning either from the end together
            possible_extentions = possible_extentions_after.append(possible_extentions_behind, ignore_index = True)
            if not possible_extentions.empty:
                if route_id not in index_of_extendable:
                    index_of_extendable[route_id] = []
                index_of_extendable[route_id].append(index_trip)
                if possible_extentions_behind.empty:
                    if route_id not in index_of_begin_sequences:
                        index_of_begin_sequences[route_id] = []
                    index_of_begin_sequences[route_id].append(index_trip)
            elif possible_extentions.empty:
                if route_id not in index_of_complete_sequences:
                    index_of_complete_sequences[route_id] = []
                index_of_complete_sequences[route_id].append(index_trip)
                
    return index_of_extendable, index_of_begin_sequences, index_of_complete_sequences

'Finds the routes that can be either extended from behind or from after and those which are complete sequences'

In [32]:
'''Creates all the sequences of routes possible to reconstruct the real route'''

def possible_sequences_construction(stop_sequences_df, index_of_extendable, index_of_begin_sequences, index_of_complete_sequences):
    '''returns the first part of the route_creation, two others need to be added'''
    import copy
    #create an empty df for the process of route creation
    route_creation  = pd.DataFrame()
    for route_id in index_of_extendable:
        #checks if some parts are begin sequences, if not, then we can't build routes with multiple sequences
        if route_id in index_of_begin_sequences:
            #create a copy of the df with only the route considered in the loop iteration
            routes_with_route_id = select_stop_sequences(stop_sequences_df, route_id)
            #create a df where only the routes that have an end stop as their first element of the sequence
            route_creation_route_id = routes_with_route_id.loc[index_of_begin_sequences[route_id]][['route_id', 'hash', 'stop_sequence', 'service_id']]
            #create a df with the exentable sequences for that route_id
            route_creation_extensions_route_id = routes_with_route_id.loc[index_of_extendable[route_id]][['route_id', 'hash', 'stop_sequence','service_id']]    
            #make the hash column as a column of lists
            route_creation_route_id['hash'] = route_creation_route_id['hash'].apply(lambda x: [x])
            route_creation_route_id = route_creation_route_id.reset_index(drop=True)
            #to stop the while loop when all the routes are complete in the df for the route_id of the loop iteration
            complete_routes = 0
            while complete_routes < len(route_creation_route_id.index):
                #use a deepcopy to not impact the iterrows of the main loop
                route_creation_deep_copy = copy.deepcopy(route_creation_route_id)
                for index_original, route_part in route_creation_deep_copy.iterrows():
                    #create a dataframe of the possible extentions for each route_part
                    #select an extention only if the extention is the next part of the route and also that no other station are repeated in the sequence if this extention is added(otherwise it might cause an infinite loop)
                    possible_extentions = route_creation_extensions_route_id[route_creation_extensions_route_id['stop_sequence'].apply(lambda x: any(item for item in [route_part['stop_sequence'][-1]] if (item == x[0]) and not(set(x[1:]) & set(route_part['stop_sequence']))))].copy()
                    #take only those extentions that have a common service_id with the route_part
                    possible_extentions = possible_extentions[possible_extentions['service_id'].apply(lambda x: any(item for item in route_part['service_id'] if item in x))].copy()                
                    #checks whether any extention fullfilling the criterias has been found
                    if not (possible_extentions.empty):
                        #if so, extend it with every single possibilities
                        for index_extention, possible_extention in possible_extentions.iterrows():
                            #must create a deepcopy, otherwise the orignal hash list will change as well (mutable)
                            updated_hash = copy.deepcopy(route_part['hash'])
                            updated_hash.append(possible_extention['hash'])
                            updated_route_sequence = route_part['stop_sequence'] + possible_extention['stop_sequence'][1:]
                            common_service_id = possible_extention['service_id'] & route_part['service_id']
                            route_creation_route_id.loc[max(route_creation_route_id.index)+1] = [route_id, updated_hash, updated_route_sequence, common_service_id]
                        #then delete the route with the index (see loop here above)
                        route_creation_route_id = route_creation_route_id.drop(index = index_original)            
                    #the route can't be extended anymore
                    else:
                        complete_routes += 1
            #adds all the possible routes created with the trips of the route_id of the main loop
            route_creation = route_creation.append(route_creation_route_id, ignore_index = True)
    return route_creation

'Creates all the sequences of routes possible to reconstruct the real route'

In [33]:
'''Adds the full sequences to the route_creation dataframe'''

def add_full_sequences(stop_sequences_df, route_creation, index_of_complete_sequences):
    '''returns the second part of the route_creation, one other needs to be added'''
    for route_id in index_of_complete_sequences:
        #findes all the complete sequences for that route_id
        copy_complete_sequences_df = stop_sequences_df.loc[index_of_complete_sequences[route_id]][['route_id','hash','stop_sequence', 'service_id']].copy()
        copy_complete_sequences_df['hash'] = copy_complete_sequences_df['hash'].apply(lambda x: [x])
        #adds each of them in the route_creation dataframe
        for index_complete_sequence, complete_sequence in copy_complete_sequences_df.iterrows():
            route_creation = route_creation.append(complete_sequence, ignore_index = True)
    route_creation = route_creation.sort_values(by=['route_id'], ignore_index = True)
    return route_creation

'Adds the full sequences to the route_creation dataframe'

In [34]:
'''Adds the sequences that were not yet added in the route_creation dataframe'''

def add_unused_sequences(stop_sequences_df, route_creation):
    '''returns the third part of the route_creation'''
    for route_id in stop_sequences_df['route_id'].unique():
        if route_id in route_creation['route_id'].unique():
            #get a set of the hashes that were employed to create the routes for that route_id
            used_sequences_hash = set(route_creation[route_creation['route_id'] == route_id].apply(lambda x: pd.Series(x['hash']),axis=1).stack().reset_index(level=1, drop=True))
            #get a tuple of all the route sequences for that route_id
            used_sequences = tuple(route_creation[route_creation['route_id'] == route_id]['stop_sequence'])
            copy_sequences_route_id = select_stop_sequences(stop_sequences_df, route_id)[['route_id','hash','stop_sequence', 'service_id']]
            copy_sequences_route_id['hash'] = copy_sequences_route_id['hash'].apply(lambda x: [x]) 
            #adds the hashes that were not employed in any route creations for that route_id
            for index_trip, trip in copy_sequences_route_id.iterrows():
                #first element of the list because there is always only one element
                if trip['hash'][0] not in used_sequences_hash:
                    #checks that the sequence is not a sublist of any existing sequences
                    is_subsequence = False
                    for sequence in used_sequences:
                        if set(trip['stop_sequence']).issubset(sequence):
                            is_subsequence = True
                    if not is_subsequence:
                        route_creation = route_creation.append(trip, ignore_index = True)
    return route_creation

'Adds the sequences that were not yet added in the route_creation dataframe'

In [35]:
'''Calculates the frequency of the constructed routes just made in the route_creation dataframe'''
    
def calculate_frequenty_new_sequences(number_of_trips_per_hash, service_id_count_dates, route_creation):
    '''calculates the frequencies of route_construction_third'''
    #put the default value of the frequency to 0
    route_creation['frequency'] = 0
    for index_sequence, sequence in route_creation[['route_id','hash','service_id']].iterrows():
        #initialize the varibles
        sequence_frequency = 0
        set_common_service_id = sequence['service_id']
        if set_common_service_id:
            #select the number_of_trips_per_hash only for the considered route_id
            number_of_trips_per_hash_route_id = number_of_trips_per_hash[number_of_trips_per_hash['route_id'] == sequence['route_id']]
            #only select the trips with the hash value contained in the sequence and with the same route_id
            containing_hash = number_of_trips_per_hash_route_id[number_of_trips_per_hash_route_id['hash'].apply(lambda x: any(item for item in sequence['hash'] if x == item))]
            #loop over each service_id that were common during the trip
            for service_id in set_common_service_id:
                service_id_number_days = service_id_count_dates[service_id_count_dates['service_id'] == service_id].iloc[0]['count_service_id']
                #adds the minimum number of trips per day multiplied by the number of days in the service_id
                sequence_frequency += containing_hash[containing_hash['service_id'] == service_id]['number_trip_ids'].min() * service_id_number_days
            #adds the frequency in of the new route sequence
            route_creation.loc[index_sequence, 'frequency'] = sequence_frequency
    return route_creation

'Calculates the frequency of the constructed routes just made in the route_creation dataframe'

In [36]:
def calculate_hash_route_creation(route_creation): 
    '''calculates the hash and the hash inverse of the route_creation'''
    #copy the route_creation dataFrame
    route_creation_hash = route_creation.copy()
    #create a column called hash and hash_invese that contains NaN values
    route_creation_hash['hash'] = np.nan
    route_creation_hash['hash_inverse'] = np.nan
    #calculate the hash and the hash inverse using the lists in stop_sequence
    for index, route_sequence in route_creation_hash.iterrows():
        route_creation_hash.loc[index, 'hash'] = hash(tuple(route_sequence['stop_sequence']))
        route_creation_hash.loc[index, 'hash_inverse'] = hash(tuple(list(route_sequence['stop_sequence'])[::-1]))
    return route_creation_hash

In [37]:
'''Regroup the routes that are the same (even though they are in the opposite direction)'''

def regroup_same_stop_sequences(route_creation_hash):
    '''regroups the stop_sequences that are the same'''
    
    route_creation_max_hash = route_creation_hash.copy()
    route_creation_max_hash['max_hash'] = route_creation_max_hash[['hash', 'hash_inverse']].max(axis=1)
    #create a df that sums the frequence of the trips going from opposite directions
    route_creation_max_hash_freq = route_creation_max_hash.groupby(['route_id','max_hash'], as_index = False)[['frequency']].sum()
    #renames the max_hash column into hash so it the dataframe can be merged with route_hash_without_freq
    route_creation_max_hash_freq = route_creation_max_hash_freq.rename(columns = {'max_hash':'hash'})
    #drops the column freq_sequence_route because the one that is of interest is in route_creation_max_hash_freq
    route_hash_without_freq = route_creation_hash.copy().drop(['frequency'], axis = 1)
    route_hash_without_freq = route_hash_without_freq.drop_duplicates(subset=['route_id', 'hash'])
    route_hash_freq_combined_first_merge = pd.merge(route_creation_max_hash_freq, route_hash_without_freq, on=['route_id', 'hash'], how='left')
    route_hash_freq_combined_first_merge = route_hash_freq_combined_first_merge.drop(['hash_inverse'], axis = 1)
    #selects the part of the dataset that doesn't have NaN (because for the NaN, their hash_value that was max was the one in hash_inverse and it didn't exist in the other df), so we can concatenate it with the part that had NaN later
    route_hash_freq_first_part = route_hash_freq_combined_first_merge[pd.notnull(route_hash_freq_combined_first_merge['stop_sequence'])]
    #selects one part the part of the dataset that does have NaN, so we can concatenate it with the part that has no NaN later on.
    #but first, we will need to fill those NaN values (done in the code lines behind this one)
    route_hash_freq_second_part = route_hash_freq_combined_first_merge[pd.isnull(route_hash_freq_combined_first_merge['stop_sequence'])][['route_id', 'hash', 'frequency']]
    #renames the hash column into hash_inverse so it the dataframe can be merged with route_hash_without_freq (because it didn't work with 'hash' on the first merge)
    route_hash_freq_second_part = route_hash_freq_second_part.rename(columns = {'hash':'hash_inverse'})
    route_hash_freq_second_part = pd.merge(route_hash_freq_second_part, route_hash_without_freq, on=['route_id', 'hash_inverse'], how='left')
    #the hash that is of interest in the final df will be hash and not hash_inverse
    route_hash_freq_second_part  = route_hash_freq_second_part.drop(['hash_inverse'], axis = 1)
    route_hash_freq_combined_not_sorted = pd.concat([route_hash_freq_first_part, route_hash_freq_second_part])
    route_hash_freq_combined = route_hash_freq_combined_not_sorted.sort_values(by = ['route_id'])
    route_hash_freq_combined = route_hash_freq_combined.reset_index(drop = True)
    return route_hash_freq_combined

'Regroup the routes that are the same (even though they are in the opposite direction)'

In [38]:
'''Deletes the routes that do not represent 10% of the total route frequency and creates new route, if some of them are different'''

def apply_treshold_route_creation(route_hash_freq_combined): 
    #calculates the total frequency per route_id
    frequency_each_route = route_hash_freq_combined.groupby(['route_id'], as_index = False)['frequency'].sum()
    frequency_treshold = frequency_each_route.copy()
    #calculates the treshold (here 10%)
    frequency_treshold['frequency'] = frequency_treshold['frequency']/10
    frequency_treshold.rename(columns = {'frequency':'frequency_treshold'}, inplace = True)
    route_hash_freq_treshold = route_hash_freq_combined.merge(frequency_treshold, on='route_id', how = 'left')
    #find the sequences that are not more than 10% of the route frequency and delete them
    index_names = route_hash_freq_treshold[route_hash_freq_treshold['frequency'] < route_hash_freq_treshold['frequency_treshold']].index
    route_hash_freq_treshold.drop(index_names, inplace = True)
    #selects the sequences that are not the most frequent per route_id
    sequences_max_freq = route_hash_freq_treshold.groupby(['route_id'],as_index = False)['frequency'].max()
    sequences_max_freq.rename(columns = {'frequency':'max_frequency'}, inplace = True)
    sequences_max_freq_merged = route_hash_freq_treshold.merge(sequences_max_freq, on='route_id', how='left')
    sequences_non_max_freq_index = sequences_max_freq_merged[sequences_max_freq_merged['frequency'] != sequences_max_freq_merged['max_frequency']].index
    #those selected sequences get a new route_id that starts from routes['route_id'].max() + 1 and increments by one for each new route
    route_id_creation =  route_hash_freq_combined['route_id'].max() + 1
    new_route_id_column = list(range(route_id_creation, route_id_creation + len(sequences_non_max_freq_index)))    
    sequences_max_freq_merged.loc[sequences_non_max_freq_index, 'route_id'] = new_route_id_column
    sequences_max_freq_merged = sequences_max_freq_merged.sort_values(by=['route_id'],ignore_index=True)
    #keep only the column route_id and stop_sequence
    final_routes = sequences_max_freq_merged.drop(columns=['hash', 'frequency', 'frequency_treshold', 'max_frequency', 'service_id'])
    return final_routes

'Deletes the routes that do not represent 10% of the total route frequency and creates new route, if some of them are different'

''' To keep only the routes that have at least one belgian station in their route_sequence'''

def keep_belgian_routes(final_routes):
  non_belgian_routes = set()
  for index_route, route in final_routes.iterrows():
    is_in_Belgium = False
    for stop in route['stop_sequence']:
      if stop in set(belgian_stops_Belgium_series):
        is_in_Belgium = True
        break
      if not is_in_Belgium:
        route_id = route['route_id']
        non_belgian_routes.add(route_id)
  belgian_routes = final_routes.loc[~final_routes['route_id'].isin(non_belgian_routes)]    

  return belgian_routes

In [39]:
''' To keep only the routes that have at least one belgian station in their route_sequence'''

def keep_belgian_routes(final_routes):
    non_belgian_routes = set()
    for index_route, route in final_routes.iterrows():
        is_in_Belgium = False
        for stop in route['stop_sequence']:
            if stop in set(belgian_stops_Belgium_series):
                is_in_Belgium = True
                break
        if not is_in_Belgium:
            route_id = route['route_id']
            non_belgian_routes.add(route_id)
    belgian_routes = final_routes.loc[~final_routes['route_id'].isin(non_belgian_routes)]
    
    return belgian_routes

' To keep only the routes that have at least one belgian station in their route_sequence'

In [40]:
'''Makes a set that can be used for building the edges of the graph using Networkx package'''

def create_df_for_Networkx(final_routes):
    '''return df_for_edges a df that can be used to build a Networkx L-space graph'''
    #takes the list stop sequence and make it a new column for each stop
    stop_sequence_values = final_routes.apply(lambda x: pd.Series(x['stop_sequence']),axis=1).stack().reset_index(level=1, drop=True)
    stop_sequence_values.name = 'stop_sequence'
    final_routes_stops = final_routes.drop('stop_sequence', axis=1).join(stop_sequence_values)
    final_routes_stops = final_routes_stops.reset_index(drop=True)
    #Creates a shifted instance of the df to use it for the final result
    final_routes_stops_shifted = final_routes_stops.shift()
    #Check if which of the rows are followed by a row with the same trip_id
    final_routes_stops_shifted['match'] = final_routes_stops_shifted['route_id'].eq(final_routes_stops['route_id'])
    #Drop the rows for which this condition is not satisfied
    final_routes_stops_shifted.drop(final_routes_stops_shifted[final_routes_stops_shifted['match'] == False].index, inplace = True)
    final_routes_stops_shifted.rename(columns=
      {"stop_sequence": "stop_name_1",
      "stop_name": "stop_name_1"}, inplace=True)
    #joins the df with its shifted version sothat each sequence of two stations is represented in the table as a row
    df_for_edges = final_routes_stops_shifted.join(final_routes_stops[['stop_sequence']], lsuffix='_caller', rsuffix='_other', how='left')
    df_for_edges.rename(columns=
      {"stop_sequence": "stop_name_2",
      "stop_name": "stop_name_2"}, inplace=True)

    df_for_edges['route_id'] = df_for_edges['route_id'].astype(np.int64)
    df_for_edges = df_for_edges.drop_duplicates()
    df_for_edges = df_for_edges[['route_id','stop_name_1', 'stop_name_2']]
    df_for_edges = df_for_edges.reset_index(drop=True)
    return df_for_edges

'Makes a set that can be used for building the edges of the graph using Networkx package'

# To apply the route creation function

In [41]:
#Sort the df to get always the right order of rows 
distinct_stop_sequences_sorted = distinct_stop_sequences.sort_values(by=['route_id', 'hash']).copy()
route_hash_service_freq_sorted = route_hash_service_freq.sort_values(by=['route_id','hash']).copy()

In [42]:
def full_route_creation(stop_sequences_df, number_of_trips_per_hash, service_id_count_dates):
    '''return a df that can be used to make a Networkx L-space (with treshold applied of 10%)'''
    index_of_extendable, index_of_begin_sequences, index_of_complete_sequences = get_extention_indexes(stop_sequences_df)
    route_creation_first = possible_sequences_construction(stop_sequences_df, index_of_extendable, index_of_begin_sequences, index_of_complete_sequences)
    route_creation_second = add_full_sequences(stop_sequences_df, route_creation_first, index_of_complete_sequences)
    route_creation_third = add_unused_sequences(stop_sequences_df, route_creation_second)
    route_creation_frequency_single = calculate_frequenty_new_sequences(number_of_trips_per_hash, service_id_count_dates, route_creation_third)
    route_creation_hash = calculate_hash_route_creation(route_creation_frequency_single)
    route_hash_freq_combined = regroup_same_stop_sequences(route_creation_hash)
    final_routes = apply_treshold_route_creation(route_hash_freq_combined)
    belgian_routes = keep_belgian_routes(final_routes)
    df_for_edges = create_df_for_Networkx(belgian_routes)
    
    return belgian_routes, df_for_edges

In [43]:
belgian_routes_Belgium, df_for_edges_Belgium = full_route_creation(distinct_stop_sequences_sorted, route_hash_service_freq_sorted, service_id_df)
belgian_routes_Belgium
df_for_edges_Belgium

     route_id                                      stop_sequence
0         115           [MOUSCRON, HERSEAUX, FROYENNES, TOURNAI]
1         116  [KNOKKE, DUINBERGEN, HEIST, BRUGES-SAINT-PIERR...
2         117  [VERVIERS-CENTRAL, PEPINSTER, PEPINSTER-CITE, ...
3         118  [GAND-SAINT-PIERRE, DE PINTE, DEINZE, AARSELE,...
4         119  [DENDERLEEUW, IDDERGEM, OKEGEM, NINOVE, EICHEM...
..        ...                                                ...
645       781  [SCHAERBEEK, BRUXELLES-NORD, BRUXELLES-CONGRES...
646       782  [SCHAERBEEK, BRUXELLES-NORD, BRUXELLES-CONGRES...
647       783  [GRAMMONT, LIERDE, ZOTTEGEM, BALEGEM-ZUID, BAL...
648       784  [GRAMMONT, SCHENDELBEKE, IDEGEM, ZANDBERGEN, A...
649       785  [AMSTERDAM CS (NL), SCHIPHOL (NL), DEN HAAG HS...

[650 rows x 2 columns]

       route_id                stop_name_1                stop_name_2
0           115                   MOUSCRON                   HERSEAUX
1           115                   HERSEAUX                  FROYENNES
2           115                  FROYENNES                    TOURNAI
3           116                     KNOKKE                 DUINBERGEN
4           116                 DUINBERGEN                      HEIST
...         ...                        ...                        ...
11210       785                ERPS-KWERPS                 KORTENBERG
11211       785                 KORTENBERG                   NOSSEGEM
11212       785                   NOSSEGEM  BRUSSELS AIRPORT-ZAVENTEM
11213       785  BRUSSELS AIRPORT-ZAVENTEM                 SCHAERBEEK
11214       785                 SCHAERBEEK             BRUXELLES-NORD

[11215 rows x 3 columns]

In [45]:
df_for_edges_Belgium.to_csv(r'/Users/pol/Desktop/CSV_export/df_for_edges_Belgium.csv', index = False, header=True, encoding='utf-8-sig')